{% extends "base.html" %}

{% block content %}
<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{post.subject}}
    </div>

    <div class="post-date">
      {{post.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{post._render_text | safe}}
  </div>

  <form method="post" action="/blog/editcomment/{{comment.key().id()}}">
      <div>{{error}}</div>
      <textarea placeholder="Post your comment here!" name="comment">{{content}}</textarea>
      <br>
      <input type="submit" class="edit-del-like edit-comm">
      <a href="/blog/{{post.key().id()}}" class="edit-del-like edit-comm">cancel</a>
  </form>
</div>  
{% endblock %}
